body {
  background-color: darkgrey;
  box-sizing: border-box;
  margin: 100px;
  font-family: serif;
}

#user-label,
#password-label {
  color: white;
}

.hints {
  color: grey;

  float: right;
  font-size: 15px;
}

#login-container {
  width: 460px;
  margin: 0 auto;
}

#username,
#password {
  color: grey;  
  border-radius: 10px;
}

#submit {
  background: rgb(130, 130, 130, 130);
  border-radius: 20px;
}
